<!doctype html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--
  Bootstrap libraries add
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title>Order</title>
</head>
<body>
  <div class="container">
    <!--
    Success text after complete the order
    -->
  <div class="alert alert-success">
    <strong>Success!</strong> Thanks for Shopping from us.
  </div>
  <!--
  Link to got to the product page
  -->
  <div class="alert alert-info">
    <strong>Products</strong> <a class="nav-link" href="{% url 'products' %}">Go to Products for More Shopping</a>.
  </div>
</div>
</body>
</html>
